[submodule "src/nor/ts"]
	path = src/nor/ts
	url = git@github.com:sendanor/typescript.git
	branch = main
[submodule "src/nor/ui"]
	path = src/nor/ui
	url = git@github.com:sendanor/ui.git
	branch = main
